<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="container"> <br>
  <a href="/signup">Sign up</a> <br>
  <a href="/login">Login</a> <br>
  <a href="/private">Protected page (requires authentication!)</a> <br>
  <a href="/logout">Logout</a>
</div>